.navigation-lists {
  display: flex;
  align-items: start;
}

.navigation {
	width: 315px;
	background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 85%);
  margin: 15px;
}

.navigation-header {
	background-color: #d3d3d3;
	padding: 3px;
}

.navigation-link {
	padding: 8px 3px 0px;
}

.navigation-add-link {
	cursor: pointer;
}
